body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    perspective: 1000px;
    background-image: url(https://i.imgur.com/pqdICWJ.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f0f0;
    height: 100vh;
}



table {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table.list {
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    text-decoration-line: underline;
    width: 100%;
    background: linear-gradient(45deg, #007BFF, #0056b3);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-position 0.2s ease-in-out;
    background-size: 200% 200%;
    background-position: 0% 100%;
}

input[type="submit"]:hover {
    background-position: 100% 0%;
}

form div.form-action-buttons {
    text-align: center;
    size: 100px;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #0056b3;
}

label.validation-error {
    color: red;
    margin-left: 5px;
    display: none;
}

.hide {
    display: none;
}

.crud{
    text-align: center;
    font-size: 36px;
    background-image: linear-gradient(45deg, #ff6b6b, #452eab, #10e430, #e4de27);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}